/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     margin-left: 10%;
     margin-top: 10%;
     margin-bottom: 10%;
     font-size: 1.5em; 
}

/******************************************
/* LAYOUT
/*******************************************/





html{
     background-color: black;
     color: rgb(185, 185, 185);
}   

/* ======= Other code ======== */

*{
     margin:0;
     padding:0;
     box-sizing:border-box;
   }
   


img {
  /* Set rules to fill background */
  min-height: 100%; 
  min-width: 1700px;
	
  /* Set up proportionate scaling */
  width: 99%;
  height: auto;
	
  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

